<div class="row mb-4">
  <div class="col-12">
    <h1>Equipe</h1>
    <hr />
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mb-4 ml-g-0">
      <img class="card-img-top"
        src="https://avatars3.githubusercontent.com/u/8497163?s=460&u=f2a1978c7962799b353155322a928dc0d42298cc&v=4"
        alt="Card image cap">
      <div class="card-header">
        <h2 class="h4 m-0">Jhonnatthan</h2>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mb-4 ml-g-0">
      <img class="card-img-top"
        src="https://avatars0.githubusercontent.com/u/11441924?s=460&u=59183f3ec197662c60bb173d6ffa41b367bac9e2&v=4"
        alt="Card image cap">
      <div class="card-header">
        <h2 class="h4 m-0">Fabio</h2>
      </div>

    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mb-4 ml-g-0">
      <img class="card-img-top" src="https://avatars1.githubusercontent.com/u/48594874?s=460&v=4" alt="Card image cap">
      <div class="card-header">
        <h2 class="h4 m-0">Arthur</h2>
      </div>

    </div>
  </div>

</div>
